<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../util.css" />
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
  </head>
  <body class="grid-2-auto">
    <header style="grid-column: 1 / 3">
      <p><a href="/">Back to Overview</a></p>
      <hr />
    </header>
    <p>Usage:</p>
    <div>
      <p>TODO</p>
      <code>
        &lt;div id="shadow-container"&gt;<br />
        &lt;p&gt;text to change&lt;/p&gt;<br />
        &lt;/div&gt;
      </code>
    </div>
    <p>Original Element in visible DOM, target for Shadow:</p>
    <div>
      <div id="shadow-container">
        <p>text to change</p>
      </div>
      <button type="button" onclick="callJsInShadow()">callJsInShadow</button>
    </div>
    <p>Copy of Original Element, non-target:</p>
    <p>text to change</p>
    <p>Display for shadow update listener:</p>
    <p id="update-output"></p>
    <p>ShadowJs IFrame, made visible:</p>
  </body>
</html>
